/*__Seccion PLAY TO EARN*/

#Play_to_Earn div.row{
    /*  margin-top: 16vh;
      border: 1px solid green;*/
  }
  #Play_to_Earn video{
      height: 55vh;
  }
  
  .bloque_aV{
      /*es el elemento padre de lo que se quiere alinear, un div*/
      display: grid;
      place-items: center;
      display: flex;
      padding-right: 10%;
  }
  .btn-primary{
      -webkit-border-radius: 24px;   
      -moz-border-radius: 24px;   
      border-radius: 24px;   
      -webkit-box-shadow: 0 2px 5px #19748f;
  }
  
  
  .tab-btn:hover:not(.active){
      background-color: grey;
  }
  .tab-btn.active{
      background-color: lightseagreen;
  }
  .content{ /*los contenidos de los btn no se ven */
      display: none;
  }
  .content.active{
      display: block;
  }
  /*estilo de estructura*/
  .about-content{
      /*border: 1px solid grey*/
      padding-left: 20px;
      padding-right: 20px;
  }
  .btn-container{
      padding-bottom: 10px;
  }
  
  #v1 .recuadro img{
   /*height: 30%;/*28vh;/*230px;*/
      height: 100%;/*100%;/*18vh;*/
      border: 1px solid black;
  }
  #v1 .recuadro p{
     /* width: 60%/*230px;*/
     padding: 205px 70px 25px 30px;
  }
  
  #v1 div:nth-child(1){ 
      width: 40%;
  }
  #v1 div:nth-child(2){ 
      width: 60%;
  } 
  .recuadro{
      border: 1px solid green;
      float:left;
      height: 65vh;/*370px;*/
  }
  
  div#v2 div:nth-child(1){ /*recuadros div**/
      width: 80%;/*80%;*/
  }
  div#v2 div:nth-child(2){
      width: 20%;/*20%;*/
  }
  div#v2 .recuadro .img_recuadro{
      /*width:40%;
      max-width:230px;*/
      border:1px solid black; 
      /*height: 80%;
      width: auto;
      float: left;*/
      width:50%;
      float:left;
  }
  div#v2 .recuadro div:nth-child(2){ /*el div 2º*/
      border:1px solid black;
      /*width:50vw;/*70%;*/
      width: 50%;
      float:left;
  }
  div#v2 .recuadro .img_recuadro img{
      
      border: 1px solid grey;
      width: 20vw;/*150px;*/
  }
  div#v2 .recuadro #character_container{
      border:1px solid grey; 
      width: 70%;/*200px;/*80%;*/
      
      height: 55vh;/*360px;*/
      overflow: auto;
  }
  
  div#v2 .recuadro #character_container span.character{
      border: 1px solid blue;
      width: 100px;/*10vw;/*10vw;/*10vw;*/
      height: 100px;/*10vh;/*10vh;/*10vh;*/
      /*margin-bottom: 10px;*/
      display: inline-block;/*Para que las propiedades de height y width funcionen*/
      background-repeat: no-repeat;
  }
  
  #img0{
      /*1800x150*/
      background-image: url(MiasmaNegro/Estrella/estrella.png);
      background-size: 1176px;/*1180px; /*de lognitud en h total*/
  
      /*background-position: -98px 0;*/
      /*animation: animarse0 steps(12) 2s; */
  }
  #img1{
      background-image: url(MiasmaNegro/Horizontal/horizontal_horizontalAtlast.png);
      background-size: 784px; /*de lognitud en h total*/
  
      /*background-position: -98px 0;*/
      
  }
  .imgActive{
      animation: animarse1 steps(8) 2s infinite; 
  }
  
  #img2{
  
  }
  
  @keyframes animarse0{
      0%{
          background-position: 0px;
      }
      100%{
          background-position: -1180px;
      }
  }
  @keyframes animarse1{
      0%{
          background-position: 0px;
      }
      100%{
          background-position: -784px;
      }
  }
  
  .test{ /*clase para char activo*/
      border: 1px solid red;
      /*width: 25%;*/
  }