

/* Ocultar la bara de scroll pero que siga funcionando el del raton */
::-webkit-scrollbar {
    display: none;
}


/*nav*/
.gris {
    /*opacidad 86, añadir 2 digitos*/
    background: linear-gradient(to bottom right, #addafb, #f580ff);
}

.top-nav-collapse {
    background: linear-gradient(to bottom right, #addafb, #f580ff) !important;
}

/*del body*/
.bg-body {

    background: linear-gradient(to bottom right, #addafb63, #f580ff63);
    position: relative; /*para que se referencia padre del menu lateral*/
}

/* div sección del video*/
.home-vi {

    width: auto;
    height:100vh;
    overflow: hidden;
    position: relative;
    /*margin-top: 100px;*/
    /*margin-top:30vh;*/
    
}

/*el video*/
#background-video-home {
    width: 100vw;
    height: 75vh;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -99;
}

.btn-secondary{
    /*
    -webkit-border-radius: 20px !important;
    -moz-border-radius: 20px !important;
    border-radius: 20px !important; */
    
    -webkit-border-radius: 24px;   
    -moz-border-radius: 24px;   
    border-radius: 24px;   
    -webkit-box-shadow: 0 2px 5px #19748f; 
}


.subtitle{
    font-size: 55px;
    margin-top: 180px !important;
}

/* __MENU LATERAL__*/

div.menu_lateral{
   /* width: 50px;*/
    position: fixed;
    right:0px;
    top: 40%;
    /*background-color: white;*/
    background: linear-gradient(to bottom right, #addafb, #f580ff);
    border-radius: 15px;
    
    display:none;
    z-index: 1;
}
.menu_lateral ul{
    list-style: none;
    padding: 5px;
    margin-bottom: 0px;
}
.menu_lateral ul li{
    margin-bottom: 10px;
}

/*Ambos menus serán invisibles por defecto*/
/*menu laterla en pos horizontal*/
div.menu_lateral_h{
    text-align: center;
    display: none; /*valor= block, por javascript*/
}
div.menu_lateral_h ul{
    margin:0;
    padding:0;
}
.menu_lateral_h ul li{
    /*
    display:block;
    float:left;
    padding:0 5px;
    */
    display: inline;
    margin-left: 10px;
    
}


/* ____moviendo los divs de los botones*/
#btns_superiores{
    margin-top: 5vh; 
    height: 45%;
}

#btns_inferiores{
    
    padding-top: 20vh;/*2.3%;*/
    
    
}

.btn_buyBlix{
    /*margin-top: 120px;  no va
    padding-top:1vh;/*120px;/*12%;*/
    
}
/*Adaptar la posicion del boton byBlix en fucnión del subtitulo, welcome...*/
@media screen and (max-width : 600px){
    .btn_buyBlix{
    /*margin-top: 120px;  no va*/
    padding-top:0px;/*120px;/*12%;*/
    
    }
}

#Home{
    height: 100vh !important;
    border: red 5px dotted;
    
}
#Play_to_Earn{
    height: 100vh !important;
    border: rgb(255, 187, 0) 5px dotted;
    
}

#NFTs{
    height: 100vh !important;
    border: rgb(0, 4, 255) 5px dotted;
    
}
#Blix_Token{
    height: 100vh !important;
    border: rgb(21, 255, 0) 5px dotted;
}
#Roadmap{
    height: 100vh !important;
    border: rgb(38, 0, 255) 5px dotted;
}
#About{
    height: 100vh !important;
    border: rgb(255, 0, 0) 5px dotted;
}
#Parteners{
    height: 100vh !important;
    border: rgb(0, 68, 255) 5px dotted;
}
#FAQ{
    height: 100vh !important;
    border: rgb(255, 179, 0) 5px dotted;
}


/*_Aplicando scroll_snap*/
.snap_container{
  height: 100vh;
  overflow: auto;
 /* scroll-snap-type: y mandatory;*/
}

#Home, #Play_to_Earn,#NFTs, #Blix_Token, #Roadmap,#About, #Parteners, #FAQ{
   /*scroll-snap-align: start;*/

} 


/*__Seccion PLAY YO EARN*/
#Play_to_Earn div.row{
    margin-top: 15vh;
}
#Play_to_Earn video{
    height: 55vh;
}

.background-video-PlayToEarn{ /*igual que el background-video.-home*/
    width: 100vw;
    height: 75vh;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -99;
}
.sec2_video{ /*para el margen sup de cada seccion*/
    /*estilo igual al home-vi, a excepción del height*/
    width: auto;
    height:70vh;
    overflow: hidden;
    position: relative;
    
    margin-top: 16vh;
    /*border: 1px solid red;*/
}
.sec_Bu{
    /*border: 1px solid green;*/
}